
body{
    width: 100vw;
    height: auto;
    margin: 0;
}
h1{
    text-align: center;
    width: 100vw;
    border-top: 10px solid black;
    margin-top: 0;
    
}
ul{
    display: flex;
    gap: 5px;
    width: 100vw;
    background-color: black;
    padding: 10px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 3px;

}
li{
    list-style: none;
   
}
.burger{
    margin-left: auto;
}
a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: burlywood;
    padding: 5px;

}
a:active{
    color: aqua;
}
a:hover{
    background-color:  white;
    transition: background-color 1s;
    border-radius: 4px;
}
.recipe-img{
    width: 100vw;
    height: auto;
    margin-top: 0;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


